*, *::before, *::after{
    margin: 0;
    padding: 0;
}

.top {
    background-image: linear-gradient(to right, #3e0339, #d53d0a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-weight: 600;
    font-family: Copperplate;
    color: rgb(234, 240, 250);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    background-image: linear-gradient(to right, #3e0339, #d53d0a);
}

.main__content {
    height: 87vh;
    width: 50vw;
    display: grid;   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 0.5fr 2fr repeat(2, 1fr);
    align-self: center;
    justify-content: center;
    position: relative;
}

.winner__announcement {
    grid-column: 1 / -1;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: all .2s;
    transition: all .2s;
    background-image: linear-gradient(to top, #480342, #0a4c78);
    color: #fff;
    border-radius: 5rem;
}

.winner__announcement:hover {
}

.main__content .rock {
    transition: all .2s;
    cursor: pointer;
}

.main__content .rock:hover {
    transition: all .2s;
    transform: translateY(-3px);
}

.main__content .rock:active {
    transform: translateY(3px);
}

.main__content .scissors {
    transition: all .3s;
    cursor: pointer;
}

.main__content .scissors:hover {
    transition: all .2s;
    box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.main__content .scissors:active {
    transition: all .3s;
    box-shadow: 0 0 12.5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.90);
}

.main__content .papper {
    transition: all .3s;
    cursor: pointer;
}

.main__content .papper:hover {
    transition: all .2s;
    box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.main__content .papper:active {
    transition: all .3s;
    box-shadow: 0 0 12.5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.90);
}

.main__content .img__rock {
    width: 100%;
    height: 100%;
    background-color:#0f5381;
}

.main__content .img__papper {
    width: 100%;
    height: 100%;
    background-color:#0f5381;

    
}

.main__content .img__scissors{
    width: 100%;
    height: 100%;
    background-color:#0f5381
}


.main__content button {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: center;
}

#results {
    position: relative;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.results__header {
    color: #fff;
}

.results__player {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.results__player--1{
    display: flex;
    width: 100%;
    border-bottom: 2px solid orangered;

}

.results__player__choice {
    width: 50%;
    height: 50%;
}

.results__player__score {
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.results__player__score--1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
}

.winner--1 {
    position: absolute;
    top: 90%;
    left: 35%;
    height: max-content;
    z-index: 100;
    display: none;
}

.results__computer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.results__computer--1 {
    display: flex;
}

.results__computer__choice{
    width: 50%;
    height: 50%;
}

.results__player__computer {
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}
.results__computer__score--1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
}

.winner--2 {
    position: absolute;
    top: 90%;
    left: 35%;
    height: max-content;
    z-index: 100;
    display: none;
}

.results__score {
    grid-column: 1/-1;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 5vh;
    background-image: linear-gradient(to right, #36022c, #ff0404);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.footer .link {
    text-decoration: none;
    font-weight: 600;
    margin-left: 1rem;
    font-size: 1.7rem;
    color: #fff;
}