*, *::before, *::after{
    margin: 0;
    padding: 0;
}

.top {
    background-image: linear-gradient(to right, rgba(197, 77, 219), #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    background-image: linear-gradient(to right, #fff, orangered);
}

.main__content {
    border: 3px solid black;
    height: 87vh;
    width: 50vw;
    display: grid;   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr repeat(2, 1fr);
    align-self: center;
    justify-content: center;
    position: relative;
}

.main__content .img__rock {
    width: 100%;
    height: 100%;
    background-color: #B8B893;
}

.main__content .img__papper {
    width: 100%;
    height: 100%;
}

.main__content .img__scissors{
    width: 100%;
    height: 100%;
}


.main__content button {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: center;
}

#results {
    border: 3px solid blue;
    position: relative;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.results__player {
    position: relative;
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.results__player--1{
    display: flex;
    width: 50%;
}

.results__player__choice {
    width: 50%;
    height: 50%;
}

.results__player__score {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.results__player__score--1{
    width: 100%;
    border: 2px solid rosybrown;
}

.winner--1 {
    position: absolute;
    top: 90%;
    left: 35%;
    height: max-content;
    z-index: 100;
    display: none;
}

.results__computer {
    position: relative;
    width: 100%;
    border: 2px solid green;
    display: flex;
    justify-content: center;
}

.results__computer__choice{
    width: 50%;
    height: 50%;
}

.results__player__computer {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.winner--2 {
    position: absolute;
    top: 90%;
    left: 35%;
    height: max-content;
    z-index: 100;
    display: none;
}

.results__score {
    grid-column: 1/-1;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
}









.footer {
    height: 5vh;
    background-image: linear-gradient(to right, brown, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.footer .link {
    text-decoration: none;
    font-weight: 600;
    margin-left: 1rem;
    font-size: 2rem;
}